body{
    
    background-color: #030004;
}

div{
    width: 150px;
    height: 150px;
    background-color: rgb(138, 93, 160);
    border: solid medium black;
    border-radius: 35px;
    padding:25px;
    margin: 15px;
}
  #box1{
    background-color:rgba(188, 45, 201, 0.847);
    height: 400px;
    float: left;
  }
 #box2,#box3{
    float:right;
 }
  
  #container{
    width:500px;
    height: 500px;
    background-color: rgb(135, 42, 158);
    margin-left: auto;
    margin-right: auto;
  }